*{
    box-sizing: border-box;
}
.bg{
    background: linear-gradient(to bottom, rgb(76, 175 ,50), rgb(174,213, 81))
}

.bg-fosco{
    background-color: #FFFFFF22;
}

.bg-botao{
    background-color: #FFF;
    box-shadow: var(--shadow);
}